header {
    font-family: 'Lobster', cursive;
    text-align: center;
}
nav, main {
    background-color: rgb(192,192,192);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 50px;
    padding: 10px;
}
main{
  max-width : 1000px;
  align-items: center;
  flex-direction: column;
  display : flex;
  margin : 0 auto;
}
nav {
    max-width: 100%;
    border-style: inset;
    position: sticky;
    top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
body {
    background-color: rgb(176, 146, 204);
    padding: 10px;
    align-items: center;
}
li {
    list-style-type: none;
    width: fit-content;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: rgb(110, 20, 8);
}
a:hover {
    background-color: blue;
}
.active {
    background-color: rgb(222, 236, 15);       
}
footer {
    text-align: center;
    font-style: oblique;
}
tr:nth-child(odd) {
    background-color: rgb(119,136,153);
  }
  
tr:nth-child(even) {
    background-color: rgb(192,192,192);
}
table, th, td {
    border: solid;
}
th {
    background-color: rgb(47,79,79);
}
label {
    display: block;
    margin: 1px;
    padding: 1px;
  }
  
  .field {
    margin: 1px;
    padding: 1px;
  }

  input {
      background-color: aquamarine;
  }
  
  input:invalid {
    background-color: #ffdddd;
  }
  
  form:invalid {
    border: 4px solid #ffdddd;
    width: fit-content;
  }
  
  input:valid {
    background-color: #ddffdd;
  }
  
  form:valid {
    border: 4px solid #ddffdd;
  }
  
  input:required {
    border-color: #fddddd;
    border-width: 2px;
  }
  
  input:required:invalid {
    border-color: #c00000;
  }
  .hide{
    display: none ;
    
    }
.show{
    display: block !important;
    }

.wrap{
    background-color: rgba(107, 13, 13, 0.3);
    z-index: 1;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
}

.wrapcenter{
        background-color: rgb(217, 255, 0);
        margin: 0 auto;
        position: relative;
        max-width: 500px;
        padding: 14px;
        margin-top: 300px;
}

.container {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap:20px;
}